In [33]:
import pandas as pd

# Define file path
file_path = "/Users/kanha/Machine Learning/Recurrent Neural Networks/Lotto6aus_9/LOTTO_ab_2018/LOTTO_ab_2018.csv"

# Read CSV with the first row as the header
df = pd.read_csv(file_path,  encoding="latin-1", sep=";")

df

,,,,,,Datum,,Gewinnzahlen,ZZ,S,Spiel77,Super6,Spieleinsatz,Anz. Kl. 1,Quote Kl. 1,...,Anz. Kl. 5,Quote Kl. 5,Anz. Kl. 6,Quote Kl. 6,Anz. Kl. 7,Quote Kl. 7,Anz. Kl. 8,Quote Kl. 8,Anz. Kl. 9,Quote Kl. 9
03.01.2018,,45,10,34,31,15,35,--,--,8,8977180,373159,"22.909.485,00",Jackpot,"6.803.818,90",...,1.952,"220,60",18.511,"46,50",36.934,"23,30",330.060,"11,70",274.544,"5,00"
06.01.2018,,37,47,46,32,5,14,--,--,0,7434352,046771,"47.358.258,00",Jackpot,"9.834.747,40",...,2.875,"320,30",35.538,"51,80",56.921,"32,30",697.485,"11,80",446.119,"5,00"
10.01.2018,,24,25,3,45,22,43,--,--,6,2899471,047214,"24.378.366,00",Jackpot,"11.394.962,80",...,1.792,"250,00",16.024,"55,90",39.754,"22,50",337.823,"11,90",333.255,"5,00"
13.01.2018,,14,31,48,6,5,16,--,--,0,8547998,730644,"49.672.833,00",Jackpot,"14.574.024,10",...,3.314,"288,70",39.464,"48,40",65.025,"29,40",772.972,"11,10",503.746,"5,00"
17.01.2018,,32,48,13,3,27,25,--,--,2,7542686,472845,"26.097.623,00",1,"16.244.271,90",...,2.757,"175,40",27.256,"35,50",47.364,"20,40",480.730,"9,00",340.473,"5,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26.02.2025,,12,45,24,29,22,17,--,--,7,5917250,046560,"21.580.424,40",Jackpot,"6.232.754,90",...,1.764,"181,20",12.606,"60,10",36.884,"17,50",264.061,"11,50",289.686,"6,00"
01.03.2025,,25,36,26,11,44,30,--,--,8,9314956,411094,"43.066.231,20",Jackpot,"9.462.722,20",...,3.085,"212,80",26.282,"59,20",63.754,"20,80",533.983,"11,70",504.873,"6,00"
05.03.2025,,46,22,45,26,4,29,--,--,7,4291183,504748,"23.183.302,80",Jackpot,"11.201.469,90",...,1.619,"218,40",11.874,"70,60",33.334,"21,40",247.367,"13,60",271.503,"6,00"
Spieleinsätze und Quoten in EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alle Angaben ohne Gewähr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Drop rows where all values are NaN (empty rows)
#df.dropna(how='all', inplace=True)

# Keep only rows where the number of columns matches the header
df = df[df.apply(lambda x: x.count(), axis=1) == len(df.columns)]

# Reset index after filtering
#df.reset_index(drop=True, inplace=True)

# Display cleaned data
df
#print(df.head())

,,,,,,Datum,,Gewinnzahlen,ZZ,S,Spiel77,Super6,Spieleinsatz,Anz. Kl. 1,Quote Kl. 1,...,Anz. Kl. 5,Quote Kl. 5,Anz. Kl. 6,Quote Kl. 6,Anz. Kl. 7,Quote Kl. 7,Anz. Kl. 8,Quote Kl. 8,Anz. Kl. 9,Quote Kl. 9
03.01.2018,,45,10,34,31,15,35,--,--,8,8977180,373159,"22.909.485,00",Jackpot,"6.803.818,90",...,1.952,"220,60",18.511,"46,50",36.934,"23,30",330.060,"11,70",274.544,"5,00"
06.01.2018,,37,47,46,32,5,14,--,--,0,7434352,046771,"47.358.258,00",Jackpot,"9.834.747,40",...,2.875,"320,30",35.538,"51,80",56.921,"32,30",697.485,"11,80",446.119,"5,00"
10.01.2018,,24,25,3,45,22,43,--,--,6,2899471,047214,"24.378.366,00",Jackpot,"11.394.962,80",...,1.792,"250,00",16.024,"55,90",39.754,"22,50",337.823,"11,90",333.255,"5,00"
13.01.2018,,14,31,48,6,5,16,--,--,0,8547998,730644,"49.672.833,00",Jackpot,"14.574.024,10",...,3.314,"288,70",39.464,"48,40",65.025,"29,40",772.972,"11,10",503.746,"5,00"
17.01.2018,,32,48,13,3,27,25,--,--,2,7542686,472845,"26.097.623,00",1,"16.244.271,90",...,2.757,"175,40",27.256,"35,50",47.364,"20,40",480.730,"9,00",340.473,"5,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19.02.2025,,8,4,28,44,25,10,--,--,3,2626333,963498,"20.415.841,20",Jackpot,"1.531.188,00",...,2.123,"144,40",18.090,"40,20",36.773,"16,80",309.379,"9,40",257.133,"6,00"
22.02.2025,,34,28,26,6,8,12,--,--,0,6365471,198358,"41.107.135,20",Jackpot,"4.614.223,10",...,3.082,"211,50",36.491,"42,30",52.885,"24,90",618.829,"10,00",384.833,"6,00"
26.02.2025,,12,45,24,29,22,17,--,--,7,5917250,046560,"21.580.424,40",Jackpot,"6.232.754,90",...,1.764,"181,20",12.606,"60,10",36.884,"17,50",264.061,"11,50",289.686,"6,00"
01.03.2025,,25,36,26,11,44,30,--,--,8,9314956,411094,"43.066.231,20",Jackpot,"9.462.722,20",...,3.085,"212,80",26.282,"59,20",63.754,"20,80",533.983,"11,70",504.873,"6,00"
05.03.2025,,46,22,45,26,4,29,--,--,7,4291183,504748,"23.183.302,80",Jackpot,"11.201.469,90",...,1.619,"218,40",11.874,"70,60",33.334,"21,40",247.367,"13,60",271.503,"6,00"

In [37]:
df

,,,,,,Datum,,Gewinnzahlen,ZZ,S,Spiel77,Super6,Spieleinsatz,Anz. Kl. 1,Quote Kl. 1,...,Anz. Kl. 5,Quote Kl. 5,Anz. Kl. 6,Quote Kl. 6,Anz. Kl. 7,Quote Kl. 7,Anz. Kl. 8,Quote Kl. 8,Anz. Kl. 9,Quote Kl. 9
03.01.2018,,45,10,34,31,15,35,--,--,8,8977180,373159,"22.909.485,00",Jackpot,"6.803.818,90",...,1.952,"220,60",18.511,"46,50",36.934,"23,30",330.060,"11,70",274.544,"5,00"
06.01.2018,,37,47,46,32,5,14,--,--,0,7434352,046771,"47.358.258,00",Jackpot,"9.834.747,40",...,2.875,"320,30",35.538,"51,80",56.921,"32,30",697.485,"11,80",446.119,"5,00"
10.01.2018,,24,25,3,45,22,43,--,--,6,2899471,047214,"24.378.366,00",Jackpot,"11.394.962,80",...,1.792,"250,00",16.024,"55,90",39.754,"22,50",337.823,"11,90",333.255,"5,00"
13.01.2018,,14,31,48,6,5,16,--,--,0,8547998,730644,"49.672.833,00",Jackpot,"14.574.024,10",...,3.314,"288,70",39.464,"48,40",65.025,"29,40",772.972,"11,10",503.746,"5,00"
17.01.2018,,32,48,13,3,27,25,--,--,2,7542686,472845,"26.097.623,00",1,"16.244.271,90",...,2.757,"175,40",27.256,"35,50",47.364,"20,40",480.730,"9,00",340.473,"5,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19.02.2025,,8,4,28,44,25,10,--,--,3,2626333,963498,"20.415.841,20",Jackpot,"1.531.188,00",...,2.123,"144,40",18.090,"40,20",36.773,"16,80",309.379,"9,40",257.133,"6,00"
22.02.2025,,34,28,26,6,8,12,--,--,0,6365471,198358,"41.107.135,20",Jackpot,"4.614.223,10",...,3.082,"211,50",36.491,"42,30",52.885,"24,90",618.829,"10,00",384.833,"6,00"
26.02.2025,,12,45,24,29,22,17,--,--,7,5917250,046560,"21.580.424,40",Jackpot,"6.232.754,90",...,1.764,"181,20",12.606,"60,10",36.884,"17,50",264.061,"11,50",289.686,"6,00"
01.03.2025,,25,36,26,11,44,30,--,--,8,9314956,411094,"43.066.231,20",Jackpot,"9.462.722,20",...,3.085,"212,80",26.282,"59,20",63.754,"20,80",533.983,"11,70",504.873,"6,00"
05.03.2025,,46,22,45,26,4,29,--,--,7,4291183,504748,"23.183.302,80",Jackpot,"11.201.469,90",...,1.619,"218,40",11.874,"70,60",33.334,"21,40",247.367,"13,60",271.503,"6,00"

In [39]:
df.to_csv("/Users/kanha/Machine Learning/Recurrent Neural Networks/Lotto6aus_9/LOTTO_ab_2018/LOTTO_ab_2018_preprossed.csv")